.sitebox{
  width: 1366px;
  margin: 0 auto 0 auto;
}

.top{
  width: 1366px;
  height: 121px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border: solid #bfbfbf;
}

.topbox1{
  margin:auto auto auto 70px;
}

.topbox2{
  display: flex;
  flex-direction: row;
  font-size: 21px;
}

.topbox21{
  margin:50px 50px 50px 0;
}

.topbox22{
  margin:50px 50px 50px 0;
}

.topbox23{
  margin:50px 50px 50px 0;
}

.topbox24{
  margin:50px 50px 50px 0;
}

.topbox25{
  margin:50px 50px 50px 0;
}

.cheesebox{
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/mainbg.png");
  display:flex;
  justify-content: center;
  flex-flow: column;
  margin: auto;

}

.cheesetext1{
  color: white;
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.cheesetext2{
  color: white;
  font-size: 21px;
  text-align: center;
}

.about{
  display:flex;
  justify-content: center;
  flex-flow: column;
}

.abouttitle{
  color: #ffd61a;
  font-size: 24px;
  text-align: center;
  padding-top: 60px;
}
.aboutcontext1{
  color: #222222;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
}
.aboutcontext2{
  color: #222222;
  font-size: 18px;
  text-align: center;
  padding-top: 60px;
}
.aboutcontext3{
  color: #222222;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
}
.aboutcontext4{
  color: #222222;
  font-size: 18px;
  text-align: center;
}
.aboutcontext5{
  color: #222222;
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
}

.aboutcontext6{
  color: #222222;
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
}
.aboutcontext7{
  color: #222222;
  font-size: 18px;
  text-align: center;
  padding-bottom: 80px;
}

.picts{
  display:flex;
  justify-content: space-between;
  width: 1366px;
  height: 200px;
  margin: auto;
}
.pictbox1{
  display:flex;
  justify-content: space-between;
  width: 683px;
  height: 200px;
  margin: auto;
}
.pictbox2{
  display:flex;
  justify-content: space-between;
  width: 683px;
  height: 200px;
  margin: auto;
}


.pict11{
  width: 283px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/about_04.jpg");
  margin: auto;
}
.pict12{
  width: 400px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/about_03.jpg");
}
.pict21{
  width: 400px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/about_02.jpg");
  margin: auto;
}
.pict22{
  width: 283px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/about_01.jpg");
}

.coursetitle{
  color: #ffd61a;
  font-size: 24px;
  text-align: center;
  padding-top: 60px;
}
.coursecontext1{
  color: #222222;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
}
.coursecontext2{
  color: #222222;
  font-size: 18px;
  text-align: center;
  padding-bottom: 60px;
}

.coursebox1{
  display:flex;
  justify-content: center;
  margin: auto;
}

.coursebox11{
  height: 300px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/course_01.jpg");
}

.coursebox12{
  height: 300px;
  width: 500px;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
}

.coursebox121{
  height: auto;
  width: 430px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 50px;
}

.coursebox121text1{
  color: #222222;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: left;
}
.coursebox121text2{
  color: #222222;
  font-size: 16px;
  text-align: left;
}


.coursebox2{
  display:flex;
  justify-content: center;
  margin: auto;
}

.coursebox21{
  height: 300px;
  width: 500px;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-end;
}

.coursebox22{
  height: 300px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/course_02.jpg");
}



.coursebox211{
  height: auto;
  width: 440px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  margin-right: 50px;
}

.coursebox211text1{
  color: #222222;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: left;
}
.coursebox211text2{
  color: #222222;
  font-size: 16px;
  text-align: left;
}


.coursebox3{
  display:flex;
  justify-content: center;
  margin: auto;
}

.coursebox31{
  height: 300px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/course_03.jpg");
}

.coursebox32{
  height: 300px;
  width: 500px;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
}

.coursebox321{
  height: auto;
  width: 440px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 50px;
}

.coursebox321text1{
  color: #222222;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: left;
}
.coursebox321text2{
  color: #222222;
  font-size: 16px;
  text-align: left;
}


.newstitle{
  color: #ffd61a;
  font-size: 24px;
  text-align: center;
  padding-top: 60px;
}
.newscontext1{
  color: #222222;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.newsbox{
  height: auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin:auto;
}

.newsbox1{
  height: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 0;
}

.newsbox1:hover{
  transform: scale(1.3);
}

.newsbox1pic{
  height: 250px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/news_img.jpg");
}
.newsbox1textdate{
  color: #222222;
  font-size: 18px;
  text-align: left;
  padding-top: 30px;
}
.newsbox1textmain{
  color: #222222;
  font-size: 18px;
  text-align: left;
  padding-top: 24px;
}

.newsbox2{
  height: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 0;
}

.newsbox2:hover{
  transform: scale(1.3);
}

.newsbox2pic{
  height: 250px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/news_img.jpg");
}
.newsbox2textdate{
  color: #222222;
  font-size: 18px;
  text-align: left;
  padding-top: 30px;
}
.newsbox2textmain{
  color: #222222;
  font-size: 18px;
  text-align: left;
  padding-top: 24px;
}

.newsbox3{
  height: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 0;
}

.newsbox3:hover{
  transform: scale(1.3);
}

.newsbox3pic{
  height: 250px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/news_img.jpg");
}
.newsbox3textdate{
  color: #222222;
  font-size: 18px;
  text-align: left;
  padding-top: 30px;
}
.newsbox3textmain{
  color: #222222;
  font-size: 18px;
  text-align: left;
  padding-top: 24px;
}

.more{
  width: 300px;
  height: 60px;
  background-color: #ffd61a;
  margin: 60px auto 60px auto;
}

.moretext p{
  font-size: 18px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
}

.more:hover{
  transform: scale(1.3);
}

.access{
  height: auto;
  background-color: #fafafa;
}

.accesst1{
  font-size: 24px;
  padding-top: 60px;
  text-align: center;
}

.accesst2{
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}
.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.info{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 60px;
}

.infobox1{
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.infobox11{
  font-size: 18px;
  text-align: left;
  padding-bottom: 30px;
}

.infobox12{
  font-size: 18px;
  text-align: left;
  padding-bottom: 30px;
}
.infobox13{
  font-size: 18px;
  text-align: left;
  padding-bottom: 30px;
}
.infobox14{
  font-size: 18px;
  text-align: left;
  padding-bottom: 30px;
}
.infobox15{
  font-size: 18px;
  text-align: left;
}
.infobox2{
  width: 410px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.infobox21{
  font-size: 18px;
  text-align: left;
  padding-bottom: 30px;
}

.infobox22{
  font-size: 18px;
  text-align: left;
  padding-bottom: 30px;
}
.infobox23{
  font-size: 18px;
  text-align: left;
  padding-bottom: 30px;
}
.infobox24{
  font-size: 18px;
  text-align: left;
  padding-bottom: 30px;
}
.infobox25{
  font-size: 18px;
  text-align: left;
}

.contact{
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

.contact1{
  font-size: 24px;
  padding-top: 60px;
  text-align: center;
}

.contact2{
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
}
.contact3{
  font-size: 18px;
  text-align: center;
  padding-top: 60px;
}
.contact4{
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

.entryform{
  width: 640px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-collapse: collapse;
}
table th, table td {
  border: solid 1px ;
  border-color: #bfbfbf
}

table th{
  width: 240px;
  text-align: left;
  padding-left: 16px;
  padding-right: 64px;
  padding-bottom: 8px;
  padding-top: 8px;
  /*なぜ  padding-bottom:auto;じゃだめ？*/
  border-left: none;
}

table td{
  text-align: left;
  width: 400px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-right: none;
}

select{
 margin: 0 auto 0 auto;
}

table input.basic{
  width: 328px;
  height: 36px;
}

.special2{
  margin-bottom: 16px;
}

label{
  display: block;
}

.checkbox1{

}
.checkbox2{
  padding-top: 24px;
}
.checkbox3{
  padding-top: 24px;
}
.checkbox4{
  padding-top: 24px;
  padding-bottom: 8px;
}

.detail{
	/*vertical-align: top;*/
}

/*箱の上部に持って行きたかったが*/

.submit{
  width: 250px;
  height: 60px;

  margin: 30px auto 140px auto;
}
.submitform{
  width: 250px;
  height: 60px;
  color: white;
  background-color: #ffd61a;
  font-size: 24px;
  text-align: center;
  border-style: none;
  margin: auto;
}

footer{
  background-color: #707070;
  height: 78px;
}

footer p{
  color: white;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
